<div class="templatefile fileline" style="display:none; width:100%;">
    <input type='file' style="display:none;" />
    <input type="text" class="styler" size="30" maxlength="100" value="" name="" style="display: inline-block; padding-top:5px; padding-bottom:3px; width: 230px; margin-left:-8px; margin-bottom: 10px;" placeholder="Имя файла" readonly />
    <input style='display:inline; margin-left:10px;' type='button' class='site-button red RemoveFile' value='x' /><br />
</div>

<form method="post" action="/Home/Feedback">

    <b style="width:100%; text-align:center;">Расчет проекта</b>
    <input type="text" class="styler" size="30" maxlength="100" value="" name="clientName" id="d[0]" style="width:100%; margin: 10px 0 10px 0;" placeholder="Ваше имя" />
    <input type="text" class="styler" size="30" maxlength="100" value="" name="clientPhone" id="d[1]" style="width: 100%; margin-bottom: 10px;" placeholder="Ваш номер телефона" />
    <input type="text" class="styler" size="30" maxlength="100" value="" name="clientEmail" id="d[1]" style="width: 100%; margin-bottom: 10px;" placeholder="Ваш email" />
    <div class="filesdiv" style="max-height:160px; "></div>
    <div class="cls">
        <div class="site-button blue AddFile">
            <a class="" href="">Добавить файл</a>
        </div>
        <div class="site-button orange FeedbackFormSubmit">
            <a class="" href="">Отправить</a>
        </div>
    </div>

</form>

