<!-- +[.site-footer] -->
<div class="site-footer cls clp def-menu">
    <div class="site-footer--in cls">
        <div class="site-footer--ul">
            <ul>
                <li>
                    <a href="/montazh-otopleniya">
                        МОНТАЖ ОТОПЛЕНИЯ ПОД
                        КЛЮЧ
                    </a>
                </li>
                <li>
                    <a href="/montazh-kanalizacii">
                        МОНТАЖ
                        КАНАЛИЗАЦИИ
                    </a>
                </li>
                <li>
                    <a href="/montazh-sistemy-vodoprovoda">
                        МОНТАЖ СИСТЕМЫ
                        ВОДОПРОВОДА
                    </a>
                </li>
                <li><a href="/calc">КАЛЬКУЛЯТОР ОТОПЛЕНИЯ</a></li>
            </ul>
        </div>
        <div class="site-footer--ul">
            <ul>
                <li>
                    <a href="/calc2">
                        КАЛЬКУЛЯТОР ВОДОСНАБЖЕНИЯ  И
                        КAНАЛИЗАЦИИ
                    </a>
                </li>
                <li><a href="/address">КОНТАКТЫ</a></li>
            </ul>
        </div>
        <div class="site-footer--tels">
            <div class="site-footer--adr">
                <p>
                    @CommonHtmlHelpers.Address()
                </p>
            </div>
            <div class="site-footer--adr">
                <span style="line-height: 18px; font-size: 15px;">
                    <p>@CommonHtmlHelpers.Phone() <br>@CommonHtmlHelpers.Phone2()</p>
                </span>
            </div>
            <div class="site-footer--adr">
                <a href="mailto:$('.site-footer--tels%20.site-footer--adr').eq(2).text()"></a>
                <p>
                    <a href="mailto:$('.site-footer--tels%20.site-footer--adr').eq(2).text()">
                        <a href="mailto:@CommonHtmlHelpers.Email()">@CommonHtmlHelpers.Email()</a>
                </p>
            </div>
        </div>
    </div>
    <div class="site-footer--footer cls">
        <div class="site-footer--soc">
            <a href="http://facebook.com" target="_blank"><img alt="" src="/Content/img/sc1.png"></a>
            <a href="http://twitter.com" target="_blank"><img alt="" src="/Content/img/sc2.png"></a>
            <a href="http://odnoklassniki.ru" target="_blank"><img alt="" src="/Content/img/sc3.png"></a>
            <a href="http://vk.com" target="_blank"><img alt="" src="/Content/img/sc4.png"></a>
            <a href="http://plus.google.com" target=" _blank"><img alt="" src="/Content/img/sc5.png"></a>
        </div>
        <div class="site-footer--copy cls">
            <div class="fright">
                © 2016 Все права защищены
            </div>
        </div><a href="/">
            <div class="site-footer--logobot">
                Монтаж отопления <br>Водоснабжения
                канализации
            </div>
        </a>
    </div>
</div>