<!-- +[.nashi-raboti] -->
<div class="nashi-raboti cls def-menu">
    <div class="fleft">
        <div class="nashi-raboti--name">Наши работы</div>
        <p>Более подробно ознакомиться с нашими работами Вы можете в нашем портфолио по ссылке ниже.</p>
        <a class="site-button green" href="/gallery/album/520621">Портфолио</a>
    </div>
    <div class="nashi-raboti--slider fright">
        <ul id="raboti-bx">
            <li><a href="/gallery/album/520621/p/1"><img src="/thumb/XYrDxaJyly-gHQObFw6Pcg/220c163/1125613/SAM__0139.JPG.jpg" alt="" /></a></li>
            <li><a href="/gallery/album/520621/p/1"><img src="/thumb/jqLRQQGuFxCeqrsBHdvSkw/220c163/1125613/20140129__114621_2.jpg" alt="" /></a></li>
            <li><a href="/gallery/album/520621/p/1"><img src="/thumb/1xMC_9V3DTWaHtLl1ZIP2g/220c163/1125613/SAM_0161.JPG.jpg" alt="" /></a></li>
            <li><a href="/gallery/album/520821"><img src="/thumb/aGp2SZ2RZZHV4hjJZDzsJA/220c163/1125613/sam_0048.jpg.jpg" alt="" /></a></li>
            <li><a href="/gallery/album/520621"><img src="/thumb/R8SQ_Thvsh1WgndYSvp1Vg/220c163/1125613/20131227__132109.jpg" alt="" /></a></li>
            <li><a href="/gallery/album/520621/p/1"><img src="/thumb/RSY2TaJNEeElpuXX7M7mfQ/220c163/1125613/sam__0089.jpg.jpg" alt="" /></a></li>
        </ul>
    </div>
</div>
<!-- -[.nashi-raboti] -->