@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="/Scripts/Feedback.js"></script>

<div class="site-content cls">
    <div class="site-content-mid">
        @{Html.RenderPartial("~/Views/Shared/Feedback.cshtml");}
    </div>
</div>
